# Compiled Object files
/obj
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
/bin
*.exe
*.dll

# Code::Block speacial files
*.cbp
*.depend
*.layout

# Ogre3D local files
Ogre.log
Ogre.cfg
*.pro*

# Autres
.directory
Debug
Release
.project
.cproject
.settings/*
ogre.cfg
*.xml
