# Compiled Object files
/obj
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Executable
/bin
*.exe

# Code::Block speacial files
*.cbp
*.depend
*.layout

# Ogre3D local files
Ogre.log
/media
